nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle i {
    color: #333;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo img {
        height: 50px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
    }

    nav ul.active {
        display: block;
        max-height: 500px; /* Ajusta este valor según la cantidad de elementos del menú */
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 15px;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 10px;
    }

    nav ul {
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
    }
}

.dark-mode header {
    background-color: #333;
    color: #fff;
}

.dark-mode nav ul li a {
    color: #fff;
}