/* Estilos para el carrusel */
.p {
    text-align: justify;
 }
 
 .img-fluid {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    /* margin-top: 95px; */
 }

 .libre-baskerville-regular{
    padding-top: 25px;
 }
 